html {
  height: 100%
}

body {
min-height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
font-family: 'Cabin', sans-serif;
}

.colorpicker {
  background-color: hsl(240, 0%, 80%);
  width: 600px;
  height: 600px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-radius: 5px;
  margin: auto;
}

h1 {
  margin: 0 auto 30px auto;
  text-align: center;

}

.hue {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.sat {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.light {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.alpha {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.colorpicker p {
  margin: 0 auto 0 20px;
  width: 100px;
  font-weight: bold;
  font-size: 10px;
  color: hsl(0, 0%, 36%);
}

.button {
  color: #fff;
  background-color: hsl(0, 0%, 36%);
  /*width: 200px;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.hidden {
  display: none;
}

.sliders {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 0 20px 0 20px;
}

.sliders input {
  margin: 20px;
}

.colordisplay {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-image: url('images/stock-vector-vector-seamless-checkerboard-pattern-chequered-ornament-optical-art-effect-with-striped-black-560496649.jpg');
  overflow: hidden;
  background-size: contain;
  /*border: 0px transparent solid;*/
  border-radius: 5px;
}

.colordisplay .colorbox {
    width: 110px;
    height: 110px;
    background-color: #ccc;
    border: 4px solid hsl(0, 0%, 36%);
    border-radius: 5px;
}
